@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;

    --header-text-colour: #324536;
    --dark-text-colour: #292929;
    --light-text-colour: #FFFFFF;
    --secondary-text-color: #EEBC0B;
    --bg-colour-main: #324536;
    --bg-colour-secondary: #F2F2F2;
}


html {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif !important;
}

body {
    width: 100%;
    min-height: 100vh;
    min-width: 320px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 0;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
}

h3 {
    color: var(--header-text-colour);
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

h5 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}

p {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* General Button Settings - Contact Me  */
.btn {
    background-color: var(--bg-colour-main);
    color: var(--light-text-colour);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    padding: 12px 38px;
    border-radius: 15px;
    text-decoration: none;
}

/* HERO Cover - BG IMAGE */
.hero-container {
    height: 100vh;
    background-image: url("./src/mobile-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Navbar Container */
nav {
    height: 64px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0px 24px;
    position: relative;
    justify-content: flex-end;
}

/* Menu Icon */
.fa-bars {
    z-index: 2;
    font-size: 30px;
    color: var(--light-text-colour);
    cursor: pointer;
    color: var(--header-text-colour);
}

/* Close Button Icon */
.fa-xmark {
    display: none;
    z-index: 2;
    font-size: 35px;
    color: var(--light-text-colour);
    cursor: pointer;
    color: var(--light-text-colour);
}

/* Nav Links Section */
.navigation {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--bg-colour-main);
    border-radius: 0px 0px 15px 15px;
    transition: height 0.5s ease-in-out;
}

/* Nav Links Section -- Active */
.navigation.active {
    height: 280px;
}

/* UL Containing all anchor tags */
.nav-links {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Single Nav Link */
.navigation a {
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: var(--light-text-colour);
    padding: 8px 20px;
}

.navigation a:hover {
    transform:scale(1.1);
    color: var(--secondary-text-color);
}

/* Main Area containing Texts */
.main-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 64px);
    color: var(--header-text-colour);
}

.main-cover h1 {
    width: 280px;
}

.main-cover span {
    font-family: 'Source Sans Pro', sans-serif !important;
    margin: 20px 0px 95px 0px;
    width: 160px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.main-cover .btn {
    overflow-y: hidden;
}

/* GO To Top Button*/
#toTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--bg-colour-main); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    opacity: 0.65;
}
  
/* Go To Top Icon */
.fa-circle-arrow-up {
    font-size: 20px;
}

/* Paragraph Section*/
.self-description {
    height: 155px;
    text-align: center;
    background-color: var(--bg-colour-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Paragraph Text Content*/
.self-description span{
    width: 260px;
    font-size: 1rem;
    line-height: 21px;
    font-family: 'Futura', cursive;
    color: var(--light-text-colour);
    position: relative;
    font-weight: 500;
}

/* Paragraph Comma 1st */
.self-description span::before{
    content: url("./src/left-1.svg");
    width: 20px;
    position: absolute;
    left: -25px;
    top: -20px;
}

/* Paragraph Comma 2nd */
.self-description span::after{
    content: url("./src/right-1.svg");
    width: 20px;
    position: absolute;
    bottom: -20px;
    right: -25px;
}
/* ----------------------------------------------------------- */
/* Personal Details Section */
/* ----------------------------------------------------------- */
.personal-details {
    padding: 42px 24px;
    background-color: var(--bg-colour-secondary);
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Image and Basic Info DIV */
.brief-profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Portrait */
.brief-profile img{
    width: 250px;
}

#fullname {
    color: var(--dark-text-colour);
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 14px;
}

#business-title {
    color: var(--dark-text-colour);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 16px;
}


.social-icons i {
    color: var(--dark-text-colour);
    font-size: 25px;
    margin-right: 16px;
}

/* Detail Info DIV */
.detail-info-block {
    margin-top: 52px;
    width: 100%;
}

.detail-info-block p {
    margin-top: 32px;
    margin-bottom: 50px;
    color: var(--dark-text-colour);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.skill-set {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 220px;
    margin-top: 32px;
    justify-content: flex-end;
}

.skill-set li {
    list-style: none;
    position: relative;
    width: 45.3%;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: var(--dark-text-colour);
    margin-right: 12px;

}

.skill-set li::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 8px;
    top: 10px;
    left: -15px;
    background-color: var(--bg-colour-main);
    border-radius: 15px;
}

/* ----------------------------------------------------------- */
/* Services Section */
/* ----------------------------------------------------------- */

.services-section {
    background-color: var(--bg-colour-main);
    padding: 40px 60px 60px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-section span {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.services-section h2 {
    color: var(--light-text-colour);
    margin-top: 10px;
    margin-bottom: 65px;

}

.one-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.one-service img {
    width: 110px;
}

.one-service h4 {
    color: var(--secondary-text-color);
    margin: 40px 0px;

}

.one-service p {
    color: var(--light-text-colour);
    text-align: center;
    width: 255px;
}

.one-service:nth-child(n+2) {
    margin-top: 80px;
}

/* ----------------------------------------------------------- */
/* Experience Section */
/* ----------------------------------------------------------- */

.experience-section {
    padding: 30px 26px 75px 26px;
    background-color: var(--bg-colour-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-section > span {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--secondary-text-color);
}

.experience-section h2 {
    color: var(--header-text-colour);
    margin-bottom: 25px;

}

.experience-top {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.one-experience {
    padding: 32px 24px;
    background-color: white;
    border-radius: 15px;
    margin-top: 40px;
    min-height: 265px;
}

.one-experience h5 {
    color: var(--dark-text-colour);
}

.year-place {
    margin: 10px 0px 10px 0px;
}

.one-experience .year {
    color: var(--header-text-colour);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.one-experience .place {
    color: #575858;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    margin-left: 15px;
}

.one-experience hr {
    margin: 12px 0px;
}

.one-experience p {
    color: #575858;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

/* ----------------------------------------------------------- */
/* Projects Section */
/* ----------------------------------------------------------- */

.project-section {
    width: 100%;
    padding: 30px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-section > span {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--secondary-text-color);
}

.project-section h2 {
    color: var(--header-text-colour);
    margin-top: 10px;
}

.project-section .swiper {
    width: 100%;
    margin-top: 40px;
}

.project-section .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-section .swiper-wrapper {
    display: flex;
    align-items: center;
}

.project-section .swiper-slide img {
    max-width: 80%;
    max-height: 50vh;
    border-radius: 15px;
}

.project-section .swiper-pagination {
    position: relative;
    margin-top: 30px;
}


/* ----------------------------------------------------------- */
/* Clients Section */
/* ----------------------------------------------------------- */

.clients-section {
    background-color: var(--bg-colour-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 14px 35px 14px;
}

.clients-section > span {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--secondary-text-color);
}

.clients-section h2 {
    margin-top: 10px;
    margin-bottom: 35px;
    color: var(--header-text-colour);
}

.client-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.client-logos img {
    width: 95px;
    margin: 12px 8px;
}


/* ----------------------------------------------------------- */
/* Testimonials Section */
/* ----------------------------------------------------------- */

.testimonials-section {
    width: 100%;
    padding: 26px 24px 40px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-colour-main);
}

.testimonials-section > span {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--secondary-text-color);
}

.testimonials-section h2 {
    color: var(--light-text-colour);
    margin-top: 10px;
}

.testimonials-section .swiper {
    width: 100%;
    margin-top: 40px;
}

.testimonials-section .swiper-wrapper {
    display: flex;
    align-items: center;
}

.testimonials-section .test-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 312px;
    height: 380px;
    border-radius: 15px;
    background-color: #F2F2F2;
    padding: 80px 26px 60px 26px;
    position: relative;
}

.testimonials-section .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-section .swiper-pagination {
    position: relative;
    margin-top: 30px;
}

.test-card p {
    color: var(--header-text-colour);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
}

/* Paragraph Comma 1st */
.test-card::before{
    content: url("./src/left-1.svg");
    width: 25px;
    position: absolute;
    left: 15px;
    top: 15px;
}

/* Paragraph Comma 2nd */
.test-card::after{
    content: url("./src/right-1.svg");
    width: 25px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.client-info {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.client-info span {
    color: var(--header-text-colour);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-right: 12px;

}

.client-info img {
    width: 34px;
}

.testimonials-section .swiper-pagination-bullet {
    background-color: #EEBC0B;
}

/* ----------------------------------------------------------- */
/* Contact Me Section */
/* ----------------------------------------------------------- */

.contact-section {
    padding: 35px 25px 45px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-section h2 {
    color: var(--header-text-colour);
}

.contact-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-card {
    margin-top: 36px;
    padding: 16px;
    background-color: #F2F2F2;
    width: 290px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.contact-card h4 {
    margin: 20px 0px;
    color: var(--header-text-colour);
}

.contact-card span {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.contact-form {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.contact-form form {
    width: 80%;
    max-width: 800px;
}

.contact-form input,textarea {
    margin: 12px 0px;
    width: 100%;
    min-height: 48px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding: 0px 10px;
    color: var(--dark-text-colour);
    border-radius: 15px;
    border: 1px solid var(--bg-colour-main);
}

.contact-form textarea {
    padding: 5px 10px;
}

#submitBtn {
    margin-top: 20px;
    border: none;
    background-color: #EEBC0B;
    color: var(--light-text-colour);
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    height: 55px;
}

.map-view {
    margin-top: 40px;
    width: 80%;
    max-width: 500px;
    border-radius: 15px;
}

/* ----------------------------------------------------------- */
/* Footer Section */
/* ----------------------------------------------------------- */

.footer-section {
    padding: 45px 35px 35px 35px;
    background-color: var(--bg-colour-main);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-section a {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--light-text-colour);
    text-decoration: none;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.footer-nav a {
    padding: 10px 3px;
    width: 33.3%;
    text-align: center;
}

.footer-section hr {
    width: 80%;
}

.footer-descriptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-descriptions span {
    text-align: center;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--light-text-colour);
    padding: 10px 0px;
}

.footer-social-icons {
    margin-top: 45px;
}

.footer-social-icons .fa-brands {
    font-size: 25px;
    margin: 0px 16px 40px 16px;
}

.footer-descriptions span:nth-child(1) {
    width: 145px;
    margin-top: 30px;
}


@media only screen and (min-width: 768px) {

    h1 {
        font-weight: 700;
        font-size: 60px;
        line-height: 75px;
    }
    
    h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
    }
    
    h3 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
    }

    .navbar {
        padding: 0px 30px;
    }

    /* Menu Icon */
    .fa-bars {
        z-index: 2;
        font-size: 35px;
        color: var(--light-text-colour);
        cursor: pointer;
        color: var(--header-text-colour);
    }

    /* Close Button Icon */
    .fa-xmark {
        display: none;
        z-index: 2;
        font-size: 40px;
        color: var(--light-text-colour);
        cursor: pointer;
        color: var(--light-text-colour);
    }

    .nav-links a {
        font-size: 20px;
    }

    #toTopBtn:hover {
        background-color: var(--secondary-text-color);
    }

    /* HERO Cover - BG IMAGE */
    .hero-container {
        background-image: url("./src/tablet-bg.jpg");
        background-position: right 0;

        background-size: cover;
    }

    /* Hi I am MA */
    .main-cover h1 {
        width: 520px;
    }

    /* A Professional Fashion Desinger */
    .main-cover span {
        font-family: 'Source Sans Pro', sans-serif !important;
        margin: 20px 0px 95px 0px;
        min-width: 465px;
        font-size: 35px;
        line-height: 44px;
    
    }
    
    /* Contact Me Button */
    .main-cover a {
        padding: 22px 80px;
        font-size: 22px;
        line-height: 28px;
    }

    /* Self Description Section */
    .self-description {
        height: 235px;
    }

    /* Paragraph Text Content*/
    .self-description span{
        width: 510px;
        font-weight: 500;
        font-size: 28px;
        line-height: 48px;
    }

        /* Paragraph Comma 1st */
    .self-description span::before{
        width: 30px;
    }

    /* Paragraph Comma 2nd */
    .self-description span::after{
        width: 30px;
    }

    /* ----------------------------------------------------------- */
    /* Personal Details Section */
    /* ----------------------------------------------------------- */
    .personal-details {
        padding: 55px 60px 80px 60px;
    }

    .details-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .brief-profile {
        order: 1;
    }

    .detail-info-block p {
        margin-top: 45px;
        margin-bottom: 80px;
        margin-right: 90px;
        font-size: 18px;
    }

    /* ----------------------------------------------------------- */
    /* Services Section */
    /* ----------------------------------------------------------- */
    .services-section {
        padding: 60px 85px 110px 85px;
    }

    .services-section h2 {
        margin-bottom: 0px;
    }

    .services-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .one-service {
        width: 50%;
        margin-top: 80px;
        height: 330px;
        justify-content: flex-start;
    }

    .one-service p {
        width: 245px;
    }

    /* ----------------------------------------------------------- */
    /* Experience Section */
    /* ----------------------------------------------------------- */

    .experience-section {
        padding: 45px 60px 45px 60px;
    }

    .experience-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .one-experience {
        flex-basis: 45%;
    }

    /* ----------------------------------------------------------- */
    /* Project Section */
    /* ----------------------------------------------------------- */   

    /* Pagination */
    .swiper-pagination {
        margin-top: 2.5rem;
    }

    /* Pagination Bullet */
    .swiper-pagination-bullet {
        /* Bullet width */
        width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size, 0.625rem));
        /* Bullet height */
        height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size, 0.625rem));
        /* Space between Bullet*/
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0.5rem);
    }

    /* ----------------------------------------------------------- */
    /* Clients Section */
    /* ----------------------------------------------------------- */

    .clients-section {
        padding: 40px 35px 80px 35px;
    }

    .client-logos {
        justify-content: space-around;
    }

    .client-logos img {
        width: 266px;
        margin: 20px 40px;
    }

    /* ----------------------------------------------------------- */
    /* Testimonials Section */
    /* ----------------------------------------------------------- */

    .testimonials-section {
        padding: 60px 75px 80px 75px;
    }

    .testimonials-section .swiper {
        margin-top: 60px;
    }

    .testimonials-section .test-card {
        padding: 55px 80px 30px 80px;
        width: 80%;
        height: auto;
    }

    .testimonials-section p {
        margin-bottom: 18px;
    }

    .client-info span {
        margin-right: 14px;
    }

    .client-info img {
        width: 55px;
    }

    /* Paragraph Comma 1st */
    .test-card::before{
        content: url("./src/left-1.svg");
        width: 25px;
        position: absolute;
        left: 25px;
        top: 30px;
    }

    /* Paragraph Comma 2nd */
    .test-card::after{
        content: url("./src/right-1.svg");
        width: 25px;
        position: absolute;
        right: 25px;
        bottom: 30px;
    }

    /* ----------------------------------------------------------- */
    /* Contact Me Section */
    /* ----------------------------------------------------------- */
    .contact-section {
        padding: 65px 40px 75px 40px;
    }

    .contact-card-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .contact-card {
        margin-top: 45px;
        width: 30%;
        min-height: 265px;
        justify-content: flex-start;
    }

    .contact-form {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 75px;
    }

    .contact-form form {
        width: 45%;
    }

    .contact-form .map-view {
        width: 308px;
        margin-top: 0px;
    }

    /* ----------------------------------------------------------- */
    /* Footer Section */
    /* ----------------------------------------------------------- */

    .footer-section {
        padding: 60px 80px 35px 80px;

    }

    .footer-nav {
        width: 100%;
    }

    .footer-nav a {
        padding: 10px 8px;
        width: 18%;
    }

    .footer-social-icons .fa-brands {
        font-size: 28px;
        margin: 0px 16px 40px 16px;
    }

    .footer-descriptions span:nth-child(1) {
        width: auto;
        margin-top: 45px;
    }
    
}









@media only screen and (min-width: 1280px) {

    /* HERO Cover - BG IMAGE */
    .hero-container {
        height: 100vh;
        background-image: url("./src/desktop-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow-y: hidden;
    }


    .main-cover h1 {
        width: 725px;
    }

    .main-cover span {
        font-family: 'Source Sans Pro', sans-serif !important;
        margin: 20px 0px 95px 0px;
    
    }

    /* Paragraph Text Content*/
    .self-description span{
        min-width: 40%;
        max-width: 1200px;
    }

    /* Paragraph Comma 1st */
    .self-description span::before{
        width: 30px;
        top: -35px;
        left: -50px;
    }

    /* Paragraph Comma 2nd */
    .self-description span::after{
        width: 30px;
        bottom: -35px;
        right: -50px;
    }    

    /* ----------------------------------------------------------- */
    /* Personal Details Section */
    /* ----------------------------------------------------------- */

    .personal-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 42px 60px 60px 60px;
    }

    .details-container {
        max-width: 2000px;
    }

    .brief-profile {
        margin-right: 100px;
    }

    .detail-info-block p {
        margin-top: 50px;
        margin-bottom: 80px;
        margin-right: 230px;
    }

    .skill-set {
        height: 150px;
        margin-top: 50px;
        justify-content: space-around;
    }

    /* ----------------------------------------------------------- */
    /* Services Section */
    /* ----------------------------------------------------------- */
    
    .services-container {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        max-width: 2000px;
    }

    .one-service {
        width: 25%;
        margin-top: 85px;
        height: 335px;
        justify-content: flex-start;
    }

    /* ----------------------------------------------------------- */
    /* Experience Section */
    /* ----------------------------------------------------------- */

    .experience-section {
        padding: 45px 60px 120px 60px;
    }

    .experience-container {
        max-width: 2000px;
    }

    .one-experience {
        flex-basis: 30%;
    }

    /* ----------------------------------------------------------- */
    /* Project Section */
    /* ----------------------------------------------------------- */    

    /* Pagination */
    .swiper-pagination {
        margin-top: 5rem;
    }       

    .project-section .swiper {
        max-width: 2000px;
    }

    /* ----------------------------------------------------------- */
    /* Clients Section */
    /* ----------------------------------------------------------- */
    .clients-section {
        padding: 45px 35px 80px 35px;
    }
    
    .client-logos {
        max-width: 1400px;
        justify-content: space-around;
    }

    .client-logos img {
        width: 266px;
        margin: 20px 16px;
    }

    .testimonials-section .swiper {
        max-width: 2000px;
    }

    /* ----------------------------------------------------------- */
    /* Contact Me Section */
    /* ----------------------------------------------------------- */
    .contact-section {
        padding: 80px 70px 120px 70px;
    }

    .contact-card-container {
        max-width: 2000px;
    }

    .contact-card {
        min-height: 220px;
    }

    .contact-form {
        max-width: 2000px;
        justify-content: space-evenly;
        margin-top: 120px;
    }

    /* ----------------------------------------------------------- */
    /* Footer Section */
    /* ----------------------------------------------------------- */

    .footer-section {
        padding: 80px 60px 35px 60px;

    }

    .footer-nav {
        width: 60%;
    }
}

@media only screen and (max-height: 500px) {

    h1 {
        font-family: 'Source Sans Pro', sans-serif !important;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        margin: 0;
    }

    h2 {
        font-family: 'Source Sans Pro', sans-serif !important;
        font-weight: 700;
        font-size: 28px;
        line-height: 35px;
    }

    h3 {
        color: var(--header-text-colour);
        font-family: 'Source Sans Pro', sans-serif !important;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }

    h4 {
        font-family: 'Source Sans Pro', sans-serif !important;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
    }

    h5 {
        font-family: 'Source Sans Pro', sans-serif !important;
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
    }

    p {
        font-family: 'Source Sans Pro', sans-serif !important;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }

    /* General Button Settings - Contact Me  */
    .btn {
        background-color: var(--bg-colour-main);
        color: var(--light-text-colour);
        font-family: inherit;
        font-weight: 700;
        font-size: 16px !important;
        line-height: 28px;
        padding: 12px 38px !important;
        border-radius: 15px;
        text-decoration: none;
    }

    /* Paragraph Text Content*/
    .self-description span{
        width: 60%;
        font-size: 1rem;
        line-height: 21px;
        font-family: 'Futura', cursive;
        color: var(--light-text-colour);
        position: relative;
        font-weight: 500;
    }

}

@media only screen and (max-width: 360px) {
    html {
        font-size: 90%;
    }
}